mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin 
        div.video-mixin_thumb
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name}
                br
                span 조회수 #{video.meta.views}회