.social-login {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    margin-top: 20px;

    .social__btn {
        background-color: transparent;
        color: azure;
    }

    i {
        padding-right: 10px;

    }
}